doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="lib/bs_grid/grid12.css")
		link(rel="stylesheet" href="lib/normalize/normalize.css")
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/fonts.css")
		link(rel="stylesheet" href="css/media.css")
		link(rel="stylesheet" href="lib/owl/assets/owl.carousel.css")
		title Landing page
	body
		<!--[if lt IE 9]>
		script(src="lib/html5shiv/es5-shim.min.js")
		script(src="lib/html5shiv/html5shiv.min.js")
		script(src="lib/html5shiv/html5shiv-printshiv.min.js")
		script(src="lib/respond/respond.min.js")
		<![endif]-->
		header
			.container
				.row
					.top_line
						.col-md-6
							.logo
						.col-md-6
							.top_phone
								.wrapper
									.tabs
										span.tab Москва  
										
										span.tab  / Караганда
									.tab_content
										.tab_item +7(999) 999-99-99
										.tab_item +7(999) 888-88-88
				.row
					.top_header.cf
						.col-md-12
							h1 Курсы повышения знаний
							p ProKurs в Москве и Караганде
						.col-md-7
							.tabs_header
								.wrapper
									.tabs.cf
										span.tab Скидки учащимся
										span.tab Дополнительные скидки
									.tab_content.cf
										.tab_item
											ul
												li
													i.discounts-icon1 
													| 10% владельцу карты на продолжение обучения на следующем уровне;
												li
													i.discounts-icon2
													| 5% предъявителю карты на все программы обучения;
												li
													i.discounts-icon3
													| 3–5% на обучение за рубежом.
											.button_wrap
												.button Начать обучение
										.tab_item
											ul
												li
													i.discounts-icon1 
													| 10% владельцу карты на продолжение обучения на следующем уровне;
												li
													i.discounts-icon2
													| 5% предъявителю карты на все программы обучения;
												li
													i.discounts-icon3
													| 3–5% на обучение за рубежом.
											.button_wrap
												.button Начать обучение											
		section.s_teasers
			.container
				.row
					.col-md-3
						span.warranty-icon1 10
						span.teaser_text1 БОЛЕЕ 10 ЛЕТ br/
						| НА РЫНКЕ
					.col-md-3
						span.warranty-icon2
						span.teaser_text2 САМЫЕ СОВРЕМЕННЫЕ br/
						| МЕТОДИКИ						
					.col-md-3
						span.warranty-icon3
						span.teaser_text2 КВАЛИФИЦИРОВАННЫЕ br/
						| ПРЕПОДАВАТЕЛИ	
					.col-md-3
						span.warranty-icon4
						span.teaser_text4 ГАРАНТИРОВАННОЕ ПОЛУЧЕНИЕ br/
						| ВЫСОКИХ БАЛЛОВ	
		section.review.data-stellar-ratio='2'
			.container
				.row
					.col-md-12
						p.review_text Отзывы наших учеников
						.owl-carousel
							div
								img(src="img/reviews_userpic.png",class="student_pic")
								.small_line
								p.student_text Хочу поблагодарить ProKurs и Алену за проведенные курсы повышения квалификации. Эти уроки помогли мне преодолеть трудности. Уроки проходили в дружеской и непосредственной атмосфере, что способствовало хорошему усвоению материала и мотивировало на дальнейшие занятия. Алена всегда находила интересные темы для обсуждения.div
							div
								img(src="img/reviews_userpic.png",class="student_pic")
								.small_line
								p.student_text Хочу поблагодарить ProKurs и Алену за проведенные курсы повышения квалификации. Эти уроки помогли мне преодолеть трудности. Уроки проходили в дружеской и непосредственной атмосфере, что способствовало хорошему усвоению материала и мотивировало на дальнейшие занятия. Алена всегда находила интересные темы для обсуждения.
		section.short_teaser
			.container
				.row
					.col-md-12
						p.short_teaser_text Повышение знаний с ProKurs — это оптимальное сочетание интенсива и <br> углубленного подхода.
						.button.btn_white Отправить заявку
		section.s_contacts
			.contacts_top
				h2 Как нас найти:
			.tabs
				span.tab.btn_red В Москве
				span.tab.btn_red В Караганде
			.wrapper
				.tab_content
					.tab_item Центральная ул., дом 22, корпус 2
					.tab_item Нагатинская ул., дом 323, корпус 4
		footer
			.container
				.row
					.col-md-3
					.col-md-6
						p.questions Остались вопросы?
						p.specialist Наш специалист ответит на любой ваш вопрос
						.bottom_phone
							.wrapper
								.tabs
									span.tab Москва
									|  /  
									span.tab Санкт-Петербург
								.tab_content
									.tab_item +7(999) 999-99-99
									.tab_item +7(999) 888-88-88
						.button_wrapper_bottom
							.button Заказать звонок
					.col-md-3
		script(src="lib/jquery/jquery-1.11.3.min.js")
		script(src="lib/stellar/jquery.stellar.min.js")
		script(src="lib/owl/owl.carousel.min.js")
		script(src="lib/modernizr/modernizr.js")
		script(src="js/common.js")
 




